.product-list{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 20px;
}
.product-list h3{
    font-weight: lighter;
    font-size: 18px;
    transition: 1s;
}
.product-list h3:hover{
    color:#5ECE7B;
}
.cart-icon{
    font-size: 20px;
    color:#5ECE7B;
}
.cart-icon:hover{
    color:#5ECE7B;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:15px;
    border: 1px solid #dee8e0;
    cursor: pointer;
    transition: 1s;
}
.card:hover{
    box-shadow: 1px 1px 1px 2px rgb(190, 234, 195);
    transform: scale(1.025);
    border-radius: 10px;
}
@media screen and (max-width: 1000px){
    .product-list{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 600px){
    .product-list{
        grid-template-columns: 1fr;
    }
}